@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;600;700&display=swap');
/*
    Primary color: #00A0FF
    Seconday color: #005180
    Third Color: #0081CC
*/

/*Global*/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    color: #323232;
}
.mbajtsi{
    max-width:100%;
    overflow: hidden;
    height: 100%;
    margin: 0 auto;
}
body {
    background-color: #F4F5F9;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.button {
    background-color: #00A0FF;
    color: white;
    border-radius: 3px;
    font-size: 11pt;
}

.button:hover {
    background-color: #005180;
}

.active {
    font-weight: 700;
}

.divider {
    width: 100px;
    height: 3px;
    background-color: #00A0FF;
    border: 0;
    border-radius: 5px;
    padding: 0;
    margin: 0;
}

.section-title {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title h3{
    padding-bottom: 15px;
}

/*Header*/
header {
    background-color: white;
}

.header-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    width:100%;
    min-height:10x;    
}

.logo, .navbar {
    margin: 40px 0;
}

.logo a{
    display: flex;
    align-items: center;
}

.logo a:hover{
    transform: scale(1.05);
    transition: transform 100ms ease-in-out;
}

.logo img {
    height: 25px;
}

.logo span {
    color: #0081CC;
}

.navbar ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.navbar ul a{
    padding: 5px 10px;
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar ul img {
    max-width: 15px;
    margin-left: 3px;
}

.navbar ul li:last-child a{
    padding: 10px 30px;
}

.navbar ul li:last-child a img {
    margin: 0 8px 0 0;
}

.navbar ul a:not(.button):hover {
    border-bottom: 2px solid #323232;
}

/*Main*/
#main{
    min-height: 500px;
    width:100%;
}

/*Produktet me te kerkuara*/
.block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 50px;
}

.block img {
    height: 400px;
    width: 400px;
    margin-top: 10px;
    border-radius: 3px;
}

.block img:hover {
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

/*Brendet*/
.brendet {
    display: flex;
    justify-content: space-around;
    background-color: #005180;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10%;
}

.brendet img {
    height: 30px;
    margin: 30px 15px;
    filter: brightness(0) invert(1);
}

.brendet img:first-child, img:nth-child(5) {
    height: 50px;
}

.brendet img:nth-child(2), img:nth-child(4) {
    height: 40px;
}

.brendet img:hover {
    filter: none;
    transform: scale(1.05);
    transition: transform .4s ease;
}


/*Footer*/
footer {
    background-color: #323232;
}
#footer{
    position: static;
    margin-bottom: 0;
    bottom:0;
    width:100%;
    height:auto;
}
.footer-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer-main .logo h2{
    color: white;
}

.footer-main .logo a:hover{
    transform: none;
}

.footer-links {
    margin: 0px 0 40px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-links ul {
    margin: 0 50px;
}

.footer-links a {
    color: white;
    font-size: 9pt;
    font-weight: 200;
}

.footer-links li {
    color: white;
    font-size: 10 pt;
    margin: 2px 0;
}

.footer-bar {
    position: relative;
    bottom: 15px;
}

.footer-bar p {
    text-align: center;
    color: white;
    font-size: 8pt;
    opacity: 0.8;
}

/* #323232
#0081CC
#F4F5F9
#265F80 */
/* products card */
.card{   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    width: 240px;
    height: 300px;
    background-image: radial-gradient(#f5f6fa,white);
    border-radius: 3px;
    overflow: hidden;
    margin: 5%;
}

.card .imageC{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
}
.card .imageC img{
    max-width: 100%;
    transform: 0.5s;
}
.card:hover .imageC img{
    max-width: 50%;
}
.card .content{
    position: relative;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}
.card .content h3{
    font-size: 18px;
    color: #323232;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.card .content .price{
    font-size: 24px;
    color: #323232;
    font-weight: 500;
    letter-spacing: 1px;
}
.card .content .addToCart{
    position: relative;
    top: 200px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 15px;
    color: #fff;
    text-decoration: none;
    background: #265F80;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}
.card:hover .content .addToCart{
    top: 0;
    opacity: 1;
}

/*Login Content*/
.llogaria-main {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-style {
    background-color: white;
    width: 250px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 255, 0.1);
}

.form-style h2{
    margin-bottom: 10px;
}

.form-style label {
    font-size: 10pt;
    margin-top: 10px;
}

.form-style input[type=text], input[type=email], input[type=password]{
    height: 25px;
    border: 1px solid #a0a0a0;
    border-radius: 2px;
    margin-top: 5px;
    padding-left: 5px;
}

.form-style input[type=text]:hover, input[type=email]:hover, input[type=password]:hover{
    box-shadow: 0 2px 10px rgba(0, 0, 255, 0.1);
}

.form-style input:focus{
    outline: none;
    box-shadow: 0 2px 10px rgba(0, 0, 255, 0.1);
}

.form-style input[type=submit]{
    margin: 15px 0;
    border: none;
    padding: 5px 0;
    cursor: pointer;
}

.form-style p{
    font-size: 10pt;
}

.form-style p a{
    font-size: 9pt;
    color: #0081CC;
}

.form-style p a:hover {
    border-bottom: 1px solid #0081CC;
    cursor: pointer;
}

.hidden {
    display: none;
}

.llogaria-error p{
    color: #D8000C;
    background-color: #FFD2D2;
    width: 250px;
    font-size: 10pt;
    border-radius: 3px;
    padding: 20px 15px;
    margin-bottom: 20px;
}

/*edit-user card*/
.edit-user-main {
    min-height:80vh;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.edit-user-card {
    background-color: white;
    width: 400px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 255, 0.1);
    align-items: center;
    border:0.1px solid lightgrey;
}

.edit-user-card img {
    max-width: 50px;
    margin: 15px 0;
}

.edit-user-card input[type=text], 
.edit-user-card input[type=email], 
.edit-user-card input[type=password], 
.edit-user-card input[type=submit]{
    width: 80%;
    margin: 10px 0;
    height: 30px;
}

.edit-user-card input[type=submit]{
    margin: 15px 0;
    border: none;
    padding: 5px 0;
    cursor: pointer;
}

.edit-user-card a, label{
    font-size: 10pt;
}


/* #produktet-e-kerkuara{
    padding: 2% 5%;
}
#produktet-e-kerkuara ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-flow: row wrap;
        margin-right: -15px;
        margin-left: -15px;

}
#produktet-e-kerkuara ul li{
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
} */

#produktet-each{
    padding: 2% 5%;
}
#produktet-each ul{
        display: flex;
        justify-content: center;
        flex-flow: row wrap;

}
#produktet-each ul li{
    list-style: none;
    margin-left: 3.5%;
    margin-right: 3.5%;
}

#shiko-te-gjitha {
    text-align: center;
    margin-bottom: 50px;
}

#shiko-te-gjitha a{
    color: #005180;
}

#shiko-te-gjitha a:hover{
    text-decoration: underline;
}

/*Slideshow*/
.slideshow{
    max-width: 100%;
    position: relative;
    margin: auto;
}

.slideshow img {
    width: 100%;
}

.slide {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dots {
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot:hover {
    background-color: #717171;
}

/* Tablets and under 
@media(max-width: 768px){
    .brendet {
        flex-direction: column;
    }
}*/


/* Mobile */
@media(max-width: 500px){
    .brendet {
        flex-direction: column;
    }
}


/* Back to top*/


#back-to-top{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    max-width: 20%;
    height: auto;
    background: transparent;
}

.mbajtsi-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    justify-content: center;
}
#box-left{
    background-color: white;
    height: 400px;
    border-radius: 3px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#box-right{
    background-color: white;
    height: 400px;
    width: 500px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 20px 15px; 
    margin-left: 10px;
    margin-top: 10px;
}
#box-right input[type=email], input[type=text]{
    height: 30px;
    border: 1px solid #a0a0a0;
    border-radius: 2px;
    padding-left: 5px;
}
#box-right input[type=text1]{
    height: 100px;
    border: 1px solid #a0a0a0;
    border-radius: 2px;
    padding-left: 5px;
}
#box-right input[type=submit]{
    height: 30px;
    margin-top: 20px;
    border: 1px solid #a0a0a0;
    border-radius: 2px;
    padding-left: 5px;
}
#box-right label{
    margin-top: 15px;
}

 #teksti h2{
    color:#323232;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
}