@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;600;700&display=swap');
/*
    Primary color: #00A0FF
    Seconday color: #005180
    Third Color: #0081CC
*/

/*Global*/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    color: #323232;
}

body {
    background-color: #F4F5F9;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}
/*.container {
    width: 1500px;
    margin: 0 auto;
}*/

.button {
    background-color: #00A0FF;
    color: white;
    border-radius: 3px;
    font-size: 11pt;
}

.button:hover {
    background-color: #005180;
}

.active {
    font-weight: 700;
}

.divider {
    width: 150px;
    height: 3px;
    background-color: #00A0FF;
    border: 0;
    border-radius: 5px;
    padding: 0;
    margin: 0;
}

/*Header*/
header {
    background-color: white;
}

.header-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.logo, .navbar {
    margin: 40px 0;
}

.logo a{
    display: flex;
    align-items: center;
}

.logo a:hover{
    transform: scale(1.05);
    transition: transform 100ms ease-in-out;
}

.logo img {
    height: 25px;
}

.logo span {
    color: #0081CC;
}

.navbar ul{
    display: flex;
    list-style-type: none;
}

.navbar ul a{
    padding: 5px 10px;
    margin: 0 10px;
}

.navbar ul li:last-child a{
    padding: 10px 20px;
}

.navbar ul a:not(.button):hover {
    border-bottom: 2px solid #323232;
}

/*Footer*/
footer {
    background-color: #323232;
}
#footer{
    position:absolute;
    bottom:0;
    width:100%;
}
.footer-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer-main .logo h2{
    color: white;
}

.footer-main .logo a:hover{
    transform: none;
}

.footer-links {
    margin: 0px 0 40px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-links ul {
    margin: 0 50px;
}

.footer-links a {
    color: white;
    font-size: 9pt;
    font-weight: 200;
}

.footer-links li {
    color: white;
    font-size: 10 pt;
    margin: 2px 0;
}

.footer-bar {
    position: relative;
    bottom: 15px;
}

.footer-bar p {
    text-align: center;
    color: white;
    font-size: 8pt;
    opacity: 0.8;
}


/* products card */
.card{
    position: relative;
    width: 320px;
    height: 420px;
    background-color: #005180;
    border-radius: 20px;
    overflow: hidden;
}
.card::before{
    content: '';
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: #00A0FF;
    transform: skewY(345deg);
    transform: 0.5s;
}
.card:hover::before{
    top: -70%;
    transform: skewY(390deg);
}
.card::after{
    content: 'Quantum';
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 8em;
    color: rgb(0, 0,0,0.1);
}
.card .imageC{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
}
.card .imageC img{
    max-width: 100%;
    transform: 0.5s;
}
.card:hover .imageC img{
    max-width: 50%;
}
.card .content{
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}
.card .content h3{
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.card .content .price{
    font-size: 24px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
}
.card .content .addToCart{
    position: relative;
    top: 200px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 15px;
    color: #fff;
    text-decoration: none;
    background: #2196f3;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}
.card:hover .content .addToCart{
    top: 0;
    opacity: 1;
}

/*Login Content*/
.login-page-main {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.login-card {
    background-color: white;
    width: 250px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
}

.login-card h2{
    margin-bottom: 10px;
}

.login-card label {
    font-size: 10pt;
    margin-top: 10px;
}

.login-card input[type=email], input[type=password]{
    height: 25px;
    border: 1px solid #a0a0a0;
    border-radius: 2px;
    margin-top: 5px;
    padding-left: 5px;
}

.login-card input[type=email]:hover,
            input[type=password]:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 255, 0.1);
}

.login-card input:focus{
    outline: none;
    box-shadow: 0 2px 10px rgba(0, 0, 255, 0.1);
}

.login-card input[type=submit]{
    margin: 15px 0;
    border: none;
    padding: 5px 0;
    cursor: pointer;
}

.login-card p{
    font-size: 10pt;
}

.login-card p a{
    font-size: 9pt;
    color: #0081CC;
}

.login-card p a:hover {
    border-bottom: 1px solid #0081CC;
}